{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace Administrateur {% endblock %}

{% block body %}
<h1 class="text-center"> Bienvenue sur l'espace administrateur </h1>

<div class="text-center">
    <hr>
    <p class="fs-4"> D'ici vous pourrez créer des catégories de produits (pour l'instant) et voir la liste de ces derniers ;-)</p>
    <p class="fs-4"> Il faut que tu fasses la suppression des catégories, c'est dans CategoryController ;)</p>
</div>
{% endblock %}
