{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace Administrateur {% endblock %}

{% block body %}
<h1 class="text-center"> Bienvenue sur l'espace administrateur </h1>

<div class="text-center orange rounded-5">
    <hr>
    <p class="fs-4"> D'ici vous pourrez créer des catégories de produits et voir la liste de ces derniers</p>
    <p class="fs-4"> Et également créé et attribué des utilisateurs avec leurs rôles </p>
</div>
{% endblock %}
