{% extends "base.html.twig" %}

{% block title %}
    panier
{% endblock %}

{% block body %}
    {% include "_header.html.twig" %}
    <main>
        <div class="container mt-5 text-center">
            <h1>panier</h1>
        </div>
    </main>
{% endblock %}
