{% extends 'base.html.twig' %}

{% block title %}Erreur 404 {% endblock %}

{% block body %} 
<h1>Une erreur est survenue</h1>
<p> La page demandée n'existe pas (ou plus).</p>
<p><a href="{{ path('/accueil')}}"></a></p>
{% endblock %}